@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 15px 15px 15px 0;
    position: relative;
}

/* .home {
    padding: 10px;
} */

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    width: 100%;
    gap: 14px;
    padding: 15px 14px;
    /* padding-top: 14px; */
    font-weight: bold;
    align-items: center;
    font-size: 14px;

}

.heading img {
    width: 20px;
}

.library {
    min-height: 76vh;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 12px 8px;
}

.footer a {
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;

}

.card {
    width: 200px;
    border-radius: 10px;
    background-color: #252525;
    padding: 10px;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    /* border: 2px solid #000; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 168px; */
    top: 274px;
    right: 20px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    /* font-size: 1.01rem; */
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 22px;
    color: black;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    transition: all .01s ease-in;
}

.loginbtn:hover {
    transform: scale(1.09);
}


.playbar {
    position: fixed;
    bottom: 56px;
    background-color: #000;
    width: 69.5vw;
    padding: 12px;
    border-radius: 10px;
    height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.songbuttons img {
    cursor: pointer;
}

.songList {
    height: 555px;
    overflow: auto;
    margin-bottom: 50px;
}

.songList ul {
    /* list-style: none; */
    padding: 0 8px;
}

.songList ul li {
    /* font-size: 15px; */
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border-radius: 5px;
    border: 1px solid white;
    padding: 13px;
    margin: 12px 0;
}

.songList .info {
    font-size: 14px;
    width: 350px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 100px;
}

.seekbar {
    position: absolute;
    bottom: 8px;
    height: 2px;
    width: 97%;
    border-radius: 7px;
    background-color: white;
    /* padding: 6px; */
    margin: 6px;
}

.circle {
    position: relative;
    bottom: 5px;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 0;
    transition: left .5s ;
}